
body body {
  text-align: center; }
  * html body body legend {
    margin: -18px -8px 16px 0;
    padding: 0; }
  html>body body p code {
    *white-space: normal; }
body .container {
  text-align: left; }
body ol {
  margin-left: 2em; }
body sup {
  vertical-align: text-top; }
body sub {
  vertical-align: text-bottom; }
body hr {
  margin: -8px auto 11px; }
