

body body {
  line-height: 1.5;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #000;
  background: none;
  font-size: 10pt; }
body .container {
  background: none; }
body hr {
  background: #ccc;
  color: #ccc;
  width: 100%;
  height: 2px;
  margin: 2em 0;
  padding: 0;
  border: none; }
  body hr.space {
    background: #fff;
    color: #fff; }
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif; }
body code {
  font-size: .9em;
  font-family: 'andale mono', 'lucida console', monospace; }
body img {
  float: left;
  margin: 1.5em 1.5em 1.5em 0; }
body a img {
  border: none; }
body a:link,
body a:visited {
  background: transparent;
  font-weight: 700;
  text-decoration: underline; }
body p img.top {
  margin-top: 0; }
body blockquote {
  margin: 1.5em;
  padding: 1em;
  font-style: italic;
  font-size: .9em; }
body .small {
  font-size: .9em; }
body .large {
  font-size: 1.1em; }
body .quiet {
  color: #999; }
body .hide {
  display: none; }
